@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  About
*/
.p-about {
  background-color: $main-color;

  &__lists {
    padding-top: 30px;

    @include mq(md) {
      display: flex;
      justify-content: space-between;
      max-width: 560px;
      margin: 0 auto;
    }

    @include mq(lg) {
      padding-top: 60px;
    }
  }

  &__list {
    padding-top: 14px;
    color: $secondary-text-color;
    text-align: center;

    @include mq(md) {
      padding-top: 0;
    }

    @include mq(lg) {
      font-size: 1.125rem;
      line-height: 2.16667;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &__item {
    margin-top: 30px;
    padding: 6px;
    background-color: $base-color;

    @include mq(lg) {
      margin-top: 83px;
    }
  }

  &__body {
    padding: 8px 0;
    border: 5px solid $main-color;

    @include mq(md) {
      padding: 16px 0;
    }

    @include mq(lg) {
      padding: 21px 0;
    }
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.38888;
    text-align: center;

    @include mq(lg) {
      font-size: 2.25rem;
    }

    > span {
      background: linear-gradient(transparent 70%, $sub-color 30%);
    }
  }

  &__text {
    padding-top: 14px;
    line-height: 1.72222;
    text-align: center;

    @include mq(lg) {
      padding-top: 25px;
      font-size: 1.125rem;
    }
  }
}
