@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Blog
*/
.p-blog {
  position: relative;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.7;
  }

  &__body {
    justify-content: space-between;
    padding-left: 16px;

    @include mq(lg) {
      max-width: 260px;
    }
  }

  &__category {
    padding: 2px 10px;
    font-size: 0.75rem;
  }

  &__title {
    display: -webkit-box;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6875;
    text-decoration: underline;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__publish {
    font-size: 0.75rem;
  }

  &__image {
    max-width: 150px;
    max-height: 110px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
