@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Blog
*/
.p-blog {
  position: relative;

  &__body {
    justify-content: space-between;
    padding-left: 16px;
  }

  &__category {
    padding: 2px 10px;
    font-size: 0.75rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6875;
    text-decoration: underline;
  }

  &__publish {
    font-size: 0.75rem;
  }

  &__image {
    max-width: 150px;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
