@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  BlogPage
*/
.p-blogPage {
  justify-content: space-between;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 0.7;
  }

  &__body {
    width: 63%;
    padding-bottom: 6px;

    @include mq(sm) {
      width: 67%;
    }

    @include mq(md) {
      width: 65%;
    }

    @include mq(lg) {
      width: 68%;
    }
  }

  &__title {
    display: -webkit-box;
    order: 1;
    margin-top: 6px;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include mq(md) {
      margin-top: 12px;
      font-size: 1.25rem;
    }

    @include mq(lg) {
      font-size: 1.625rem;
    }
  }

  &__text {
    display: none;
    order: 2;
    margin-top: 6px;

    font-size: 0.75rem;

    @include mq(md) {
      display: block;
      margin-top: 12px;
    }

    @include mq(lg) {
      font-size: 0.875rem;
    }

    @include mq(lg) {
      font-size: 1rem;
    }

    > p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__image {
    width: 35%;
    max-width: 150px;
    max-height: 150px;

    @include mq(sm) {
      width: 30%;
    }

    @include mq(md) {
      max-width: 240px;
    }

    @include mq(lg) {
      width: 30%;
      max-height: 170px;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__publish {
    order: 0;
    font-size: 0.75rem;

    @include mq(lg) {
      font-size: 1rem;
    }
  }

  &__category {
    padding: 4px;
    font-size: 0.75rem;
    text-align: center;

    @include mq(md) {
      width: 80px;
      padding: 5px;
    }
  }
}
