@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Complete
*/
.p-complete {
  &__text {
    margin-top: 20px;
    font-size: 0.875rem;
    text-align: center;

    @include mq(md) {
      font-size: 1rem;
    }
  }

  &__bottom {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;

    @include mq(lg) {
      margin-top: 80px;
    }
  }

  &__link {
    display: block;
    color: $main-color;
    text-decoration: underline;
  }
}
