@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Contact
*/
.p-contact {
  &__text {
    font-size: 0.875rem;

    @include mq(lg) {
      font-size: 1rem;
    }
  }

  &__form {
    margin-top: 40px;
  }

  &__def {
    &--tit {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }

      span {
        font-weight: 700;
      }
    }

    &--data {
      margin-top: 12px;

      &.-radio {
        @include mq(md) {
          margin-top: 18px;
        }
      }
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 8px 14px;

    @include mq(lg) {
      padding: 15px 20px;
    }
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 0.75rem;
  }

  &__check {
    margin-top: 30px;
    text-align: center;
  }

  &__checkbox {
    margin-top: 30px;
  }

  &__link {
    border: none;
    outline: none;
    background: none;
    color: $sub-color;
    text-decoration: underline;
    appearance: none;
  }

  &__button {
    margin-top: 40px;
    text-align: center;

    @include mq(md) {
      margin-top: 48px;
    }

    button {
      width: 200px;
      padding: 13px 8px;
      background-color: $main-color;
      color: $base-color;
      text-align: center;
    }
  }
}
