@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Contact
*/
.p-contact {
  &__text {
    font-size: 0.875rem;

    @include mq(lg) {
      font-size: 1rem;
    }
  }

  &__form {
    margin-top: 40px;
  }

  &__def {
    &--tit {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }

      span {
        font-weight: 700;
      }
    }

    &--data {
      margin-top: 12px;

      &.-radio {
        @include mq(md) {
          margin-top: 18px;
        }
      }
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 8px 14px;
    border: 1px solid $main-color;

    @include mq(lg) {
      padding: 15px 20px;
    }
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 0.75rem;
  }

  &__check {
    margin-top: 30px;
    text-align: center;
  }

  &__checkbox {
    margin-top: 30px;
  }

  &__link {
    border: none;
    outline: none;
    background: none;
    color: $sub-color;
    text-decoration: underline;
    appearance: none;
  }

  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    + span {
      display: inline-block;
      position: relative;
      padding: 4px 4px 4px 39px;
      line-height: 1;
      vertical-align: middle;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
      }

      &::after {
        content: "";
        display: none;
      }
    }
  }

  input[type="radio"] {
    + span {
      &::before {
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        border: 1px solid $secondary-border-color;
        border-radius: 50%;
      }
    }

    &:checked {
      + span {
        &::after {
          display: block;
          position: absolute;
          top: 50%;
          left: 4px;
          width: 12px;
          height: 12px;
          transform: translateY(-50%);
          border-radius: 50%;
          background-color: $main-color;
        }
      }
    }
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    + span {
      &::before {
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
        border: 1px solid $secondary-border-color;
      }
    }

    &:checked {
      + span {
        &::after {
          display: block;
          position: absolute;
          top: 50%;
          left: 4px;
          width: 12px;
          height: 5px;
          transform: translateY(-50%) rotate(-45deg);
          border-bottom: 1px solid $main-color;
          border-left: 1px solid $main-color;
        }
      }
    }
  }

  &__button {
    margin-top: 40px;
    text-align: center;

    @include mq(md) {
      margin-top: 48px;
    }

    button {
      width: 200px;
      padding: 13px 8px;
      background-color: $main-color;
      color: $base-color;
      text-align: center;
    }
  }
}
