@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Faq
*/
.p-faq {
  &__body {
    padding-top: 40px;
    border-bottom: 1px solid $main-color;
  }

  &__item {
    padding: 15px 0;
    border-top: 1px solid $main-color;
  }

  &__title {
    padding: 10px 30px 10px 0;
    font-size: 0.875rem;
    font-weight: 400;

    @include mq(lg) {
      padding: 10px 45px 10px 0;
      font-size: 1rem;
      line-height: 1.6875;
    }
  }

  &__box {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: $background-color;
    font-size: 0.875rem;
    font-weight: 400;

    @include mq(lg) {
      padding: 18px 26px;
      font-size: 1rem;
      line-height: 1.6875;
    }
  }
}
