@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Footer
*/
.p-footer {
  position: relative;
  $this: &;

  &Cta {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    padding: 40px 0;
    background-image: url(../img/common/cta@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mq(lg) {
      margin: 0 calc(50% - 50vw);
      padding: 62px 0 31px;
    }

    &__text {
      color: $base-color;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;

      @include mq(lg) {
        font-size: 2rem;
        line-height: 1.6975;
      }
    }

    &__button {
      width: 200px;
      margin: 0 auto;
      padding-top: 15px;
      text-align: center;

      @include mq(lg) {
        width: 280px;
      }

      > .-rounded {
        display: block;
        position: relative;
        z-index: 1;
        padding: 8px;
        transition: 0.3s;
        border-radius: 25px;
        background-color: transparent;
        color: $base-color;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 25px;
        }

        &::before {
          z-index: -1;
          transition: transform 0.3s ease-in, opacity 0.3s;
          background-color: $sub-color;
        }

        &::after {
          border: 2px solid $sub-color;
        }

        &:hover {
          color: $sub-color;

          &::before {
            transform: scale(0);
            opacity: 0;
          }
        }

        @include mq(lg) {
          padding: 13px;
        }
      }
    }

    &__contact {
      padding-top: 20px;
      font-weight: 500;
      text-align: center;

      > a {
        transition: opacity 0.3s ease-in;
        color: $base-color;
        text-decoration: underline;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &Info {
    padding: 10px 0;
    text-align: center;

    @include mq(lg) {
      display: flex;
      // justify-content: space-between;
      // max-width: 670px;
      // margin: 0 auto;
      align-items: flex-end;
    }

    &__text {
      font-size: 1rem;
      font-weight: 700;

      @include mq(lg) {
        margin-left: 60px;
      }
    }

    &__tel {
      padding-top: 10px;
      font-size: 1.5rem;
      font-weight: 700;

      @include mq(lg) {
        margin-left: 20px;
        padding-top: 0;
        font-size: 2.25rem;
        line-height: 1.38888;
      }

      > a {
        display: block;
        color: $main-color;
      }
    }

    &__time {
      padding-top: 8px;

      @include mq(lg) {
        margin-left: 20px;
        padding-top: 0;
      }

      > .-pl {
        padding-left: 8px;
      }
    }
  }

  &Bottom {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    background-color: $main-color;

    &__body {
      padding: 30px 0;

      @include mq(lg) {
        display: flex;
        justify-content: space-between;
        padding: 35px 0 61px;
      }
    }
  }

  &Nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 340px;
    margin: 0 auto;

    @include mq(lg) {
      align-items: baseline;
      justify-content: space-between;
      max-width: 405px;
      margin: 0 auto 0 0;
    }

    &__item {
      position: relative;
      padding: 8px 0;
      transition: opacity 0.3s ease-in;

      @include mq(lg) {
        margin: 0 21.5px;
      }

      &:hover {
        opacity: 0.7;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -10px;
        width: 1px;
        height: 23px;
        transform: translateY(-50%);
        background-color: $base-color;

        @include mq(lg) {
          right: -21.5px;
        }
      }

      &:first-child {
        @include mq(lg) {
          margin: 0 21.5px 0 0;
        }
      }

      &:last-child {
        @include mq(lg) {
          margin: 0 0 0 21.5px;
        }

        &::before {
          display: none;
        }
      }
    }

    &__link {
      display: block;
      color: $base-color;
    }
  }

  &__address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    font-style: normal;

    @include mq(lg) {
      display: block;
      padding-top: 0;
    }
  }

  &__siteinfo {
    @include mq(lg) {
      padding-top: 27px;
    }
  }

  &__tel {
    display: flex;
    align-items: center;
    color: $base-color;
    font-weight: 700;

    @include mq(lg) {
      justify-content: end;
    }

    > span {
      display: inline-block;
      padding-right: 7px;
      line-height: 1;
    }
  }

  &__time {
    padding-top: 6px;
    color: $base-color;
    font-size: 0.75rem;
    text-align: right;
  }

  &__copyright {
    padding: 6px 0;
    text-align: right;

    > small {
      font-size: 0.75rem;
      font-weight: 700;
    }
  }
}
