@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;
/*
  Global Nav
*/
.p-globalNav {
  $this: &;
  display: flex;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  height: 100%;
  padding-top: 70px;
  transform: translate3d(-100%, 0, 0);
  transition-property: transform, box-shadow;
  transition-duration: 0.6s;
  transition-timing-function: $easing;
  background-color: #fff;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);

  @include mq(lg) {
    position: static;
    transform: none;
    transition: none;
  }

  &__item {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
  }

  &__link {
    display: block;
    padding: 25px 0;
    color: $main-color;
  }
}

.is-drawerActive .p-globalNav {
  transform: translate3d(0, 0, 0);
}

.is-resize .p-globalNav {
  transition: none;
}
