@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Hero
*/
.p-hero {
  $this: &;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background-image: url(../img/common/fv_sp.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mq(md) {
    height: 476px;
  }

  &__image {
    display: block;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    color: $secondary-text-color;
    text-align: center;
  }

  &__copy {
    font-size: 2rem;
    font-weight: 700;

    @include mq(lg) {
      font-size: 3rem;
      line-height: 1.35416;
    }
  }

  &__subcopy {
    padding-top: 10px;
    font-size: 0.875rem;
    font-weight: 400;

    @include mq(lg) {
      padding-top: 25px;
      font-size: 1.125rem;
      line-height: 1.7222;
    }
  }

  &__button {
    width: 180px;
    margin: 0 auto;
    padding-top: 40px;
    font-size: 0.875rem;
    font-weight: 700;

    @include mq(lg) {
      width: 260px;
      padding-top: 51px;
      font-size: 1rem;
    }

    > .-rounded {
      display: block;
      padding: 10px 0;
      border-radius: 31px;
      background-color: $sub-color;

      @include mq(lg) {
        padding: 18px 0;
      }
    }
  }

  &__contact {
    padding-top: 22px;

    > a {
      color: $secondary-text-color;
      text-decoration: underline;
    }
  }
}
