@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Logo
*/
.p-logo {
  $this: &;
  display: block;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &.-secondary {
    width: 159px;
    padding: 13px 15px;
    background-color: $base-color;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
