@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  NavMenu
*/
.p-navMenu {
  @include mq(lg) {
    display: flex;
    align-items: center;
  }

  &__item {
    transition: opacity 0.3s ease-in;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;

    @include mq(lg) {
      margin-right: 15px;
      font-size: 1rem;
    }

    @include mq(xl) {
      margin-right: 28px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  a {
    display: block;
    padding: 25px 0;
    color: $main-color;

    @include mq(lg) {
      padding: 10px 0;
    }
  }
}

.is-drawerActive {
  .p-navMenu {
    &__item {
      border-bottom: 1px solid $main-color;
    }
  }
}
