@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  NewsSingle
*/
.p-newsSingle {
  &__title {
    font-size: 1.25rem;

    @include mq(md) {
      font-size: 1.75rem;
    }
  }

  &__publish {
    font-size: 0.875rem;
    text-align: right;

    @include mq(md) {
      font-size: 1rem;
    }
  }

  &__content {
    padding-top: 30px;

    h1 {
      margin-top: 30px;
      font-size: 1.25rem;
      font-weight: 700;

      @include mq(md) {
        font-size: 1.625rem;
      }
    }

    p {
      margin-top: 20px;
      font-size: 0.875rem;

      @include mq(md) {
        margin-top: 30px;
        font-size: 1rem;
      }
    }

    h2 {
      position: relative;
      margin-top: 30px;
      padding-left: 14px;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.5;

      @include mq(md) {
        font-size: 1.375rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: $main-color;
      }
    }

    blockquote {
      margin-top: 20px;
      padding: 14px 8px 10px 34px;
      background-color: $background-color;

      @include mq(md) {
        margin-top: 30px;
        padding: 16px 16px 10px 40px;
      }

      @include mq(lg) {
        padding: 27px 26px 17px 74px;
      }

      > p {
        position: relative;
        margin-top: 0;
        font-size: 0.875rem;
        line-height: 1.5;

        @include mq(md) {
          font-size: 1rem;
        }

        &::before {
          content: "“";
          display: inline-block;
          position: absolute;
          top: 0;
          left: -26px;
          height: 100%;
          color: $quote-color;
          font-size: 3rem;
          line-height: 1;

          @include mq(lg) {
            top: -10px;
            left: -56px;
            font-size: 5.625rem;
          }
        }
      }
    }

    figure {
      margin-top: 20px;
    }

    ul {
      margin-top: 20px;

      @include mq(md) {
        margin-top: 30px;
      }

      > li {
        position: relative;
        margin-top: 5px;
        padding-left: 15px;
        font-size: 0.875rem;

        @include mq(md) {
          padding-left: 21px;
          font-size: 1rem;
        }

        &:first-child {
          margin-top: 0;
        }

        &:before {
          content: "";
          position: absolute;
          top: 7px;
          left: 0;
          width: 8px;
          height: 8px;
          border-radius: 999px;
          background-color: $sub-color;
        }
      }
    }

    a {
      display: inline-block;
      transition: opacity 0.3s ease-in;
      color: $sub-color;
      font-size: 0.875rem;
      text-decoration: underline;

      &:hover {
        opacity: 0.6;
      }

      @include mq(md) {
        font-size: 0.875rem;
      }
    }
  }
}
