@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  News
*/
.p-news {
  color: $main-color;

  &__body {
    display: flex;
    flex-direction: column-reverse;
  }

  &__title {
    padding-top: 16px;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
  }

  &__publish {
    font-size: 0.75rem;
    font-weight: 400;
  }
}
