@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Pagination
*/

.pagination {
  margin-top: 50px;

  @include mq(md) {
    margin-top: 70px;
  }

  @include mq(lg) {
    margin-top: 90px;
  }

  @include mq(xl) {
    margin-top: 106px;
  }
}

.page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    width: 50px;
    margin-right: 15px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;

    @include mq(lg) {
      margin-right: 19px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    display: block;
    padding: 12px 0;
    border: 1px solid $main-color;
    background-color: $base-color;
    color: $main-color;

    &.prev {
      display: none;
    }

    &.next {
      display: none;
    }
  }

  .current {
    display: block;
    padding: 12px 0;
    border: 1px solid $main-color;
    background-color: $main-color;
    color: $base-color;
    text-align: center;
  }

  .dots {
    padding: 14px 0;
  }
}
