@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  PageHero
*/
.p-pageHero {
  position: relative;
  height: 35vw;

  @include mq(lg) {
    height: 221px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $base-color;
    font-size: 1.75rem;
    font-weight: 700;

    @include mq(lg) {
      font-size: 2rem;
    }
  }
}
