@charset 'UTF-8';
//====================================
//  Typeface
//====================================

$font-set-primary: "游ゴシック体", yugothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN",
  "Hiragino Sans", sans-serif;
