@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

//====================================
//  Break
//====================================

/*
  Break
*/
.u-break {
  &.-xxs {
    display: none;
    @include mq(sm) {
      display: inline-block;
    }
  }

  &.-md {
    display: inline-block;

    @include mq(md) {
      display: none;
    }
  }

  &.-lg {
    display: inline-block;

    @include mq(lg) {
      display: none;
    }
  }
}
