@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Article
-----------------------------------------------------*/
.l-article {
  @include mq(lg) {
    padding-top: 36px;
    padding-bottom: 119px;
  }
}
