@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Blog
-----------------------------------------------------*/
.l-blog {
  padding-top: 40px;

  @include mq(lg) {
    padding-top: 30px;
  }

  &__item {
    padding-top: 31px;

    &:first-child {
      padding-top: 0;
    }
  }
}
