@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Container
-----------------------------------------------------*/
.l-container {
  width: 95%;
  max-width: $content-width;
  margin: 0 auto;

  @include mq(xl) {
    width: 98.4375%;
  }
}
