@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;
/*
  Inner
-----------------------------------------------------*/
.l-inner {
  @include mq(md) {
    width: 80%;
    margin: 0 auto;
  }

  @include mq(lg) {
    width: 100%;
    margin: 0;
  }

  &.-articleSingle {
    @include mq(md) {
      width: 90%;
    }

    @include mq(lg) {
      width: 100%;
    }
  }
}
