@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;
/*
  Main
-----------------------------------------------------*/
.l-main {
  display: block;
  // margin-top: 60px;
  padding-top: 60px;
  clear: both;
}
