@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;
/*
  News
-----------------------------------------------------*/
.l-news {
  @include mq(lg) {
    margin-left: 67px;
  }

  &__items {
    padding-top: 40px;

    @include mq(lg) {
      padding-top: 30px;
    }
  }

  &__item {
    padding-top: 30px;

    &:first-child {
      padding-top: 0;
    }
  }
}
