@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Wrapper
-----------------------------------------------------*/
.l-wrapper {
  max-width: 900px;
  margin: 0 auto;

  &.-contact {
    max-width: 700px;
  }
}
