@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Heading
*/
.c-heading {
  display: block;
  text-align: center;

  @include mq(lg) {
    font-size: 2.25rem;
  }

  &.-colorWhite {
    color: $secondary-text-color;
  }

  &.-left {
    @include mq(lg) {
      text-align: left;
    }
  }
}
